<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="login-page">
        <div class="form">
            <div class="social-buttons">
                <a href="/auth/facebook">
                    <img class="loginBtn" src="img/facebookLoginBtn.png" alt="Sign-In with Facebook">
                </a>
            </div>
            <div style="margin-top: 18px;">

                <form action="/login" class="login-form" method="post">
                    <input type="text" name="username" placeholder="Username" />
                    <input type="password" name="password" placeholder="Password" />
                    <button type="submit">login</button>
                    <p class="message">Not registered? <a href="#">Create an account</a></p>
                </form>

                <form action="/register" class="register-form" method="post">
                    <input type="text" name="username" placeholder="Username" />
                    <input type="password" name="password" placeholder="Password" />
                    <button type="submit">create</button>
                    <p class="message">Already registered? <a href="#">Sign In</a></p>
                </form>

            </div>
        </div>
        <!-- end form -->
    </div>
    <!-- end login container -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script>
        $('.message a').click(function () {
            $('form, .social-buttons').animate({ height: "toggle", opacity: "toggle" }, "slow");
        });
    </script>
</body>

</html>